@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.chat-container {
  width: calc(100% - 300px);
  background-color: #111;
}

nav {
  width: 300px;
  background-color: #222;
}
nav .search {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
nav .search button.menu {
  border: 0;
  outline: 0;
  padding: 15px 20px;
  font-size: 20px;
  background-color: transparent;
  color: #777;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
nav .search button.menu:hover {
  color: #fff;
}
nav .search input {
  border: 0;
  outline: 0;
  border-radius: 20px;
  padding: 7px 14px;
  width: calc(100% - 80px);
  background-color: #333;
  font-size: 15px;
  color: #fff;
}
nav .search input::placeholder {
  transition: all 0.2s ease-in-out;
}
nav .search input:focus::placeholder {
  color: #555;
}
nav .chat-list {
  margin-right: 5px;
  height: calc(100% - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
}
nav .chat-list::-webkit-scrollbar {
  width: 5px;
}
nav .chat-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
}
nav .chat-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
nav .chat-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
nav .chat-list .chat-item {
  padding: 4px 8px;
  margin: 4px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
nav .chat-list .chat-item:hover {
  background-color: #333;
}
nav .chat-list .chat-item .icon-container {
  padding: 5px 0;
  position: relative;
}
nav .chat-list .chat-item .icon-container .icon {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #1ebaff;
  font-size: 18px;
  font-weight: 500;
  background-color: #a8f7ff;
}
nav .chat-list .chat-item .icon-container .status {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff24;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
nav .chat-list .chat-item .info {
  width: 100%;
}
nav .chat-list .chat-item .info .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .chat-list .chat-item .info .head .name {
  color: #eee;
  font-size: 15px;
}
nav .chat-list .chat-item .info .head .time {
  color: #999;
  font-weight: 300;
  font-size: 13px;
  padding-right: 5px;
}
nav .chat-list .chat-item .info .last-message, nav .chat-list .chat-item .info .user-id {
  color: #ccc;
  font-size: 14px;
  padding: 2px 0;
}

menu {
  position: absolute;
  display: none;
}
